<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/Style/Loader.css">
</head>

<body onload="showPage()">

    <script>
        function showPage() {

            $('#loader').fadeOut();
            $('#configSelector').fadeIn();
        }

        $(function() {
            $('#configSubmit').bind('click', function() {

                const obj ={
                    "FlaskSecretKey": $('#FlaskSecretKey').val(),
                    "OpenWeatherMapApiKey": $('#OpenWeatherMapApiKey').val(),
                    "WeatherCityName": $('#WeatherCityName').val(),
                    "WeatherCountry": $('#WeatherCountry').val(),
                    "BVGStationName": $('#BVGStationName').val(),
                    "BVGLine": $('#BVGLine').val(),
                    "GKeepUsername": $('#GKeepUsername').val(),
                    "GKeepPassword": $('#GKeepPassword').val(),
                    "GKeepGroceriesId": $('#GKeepGroceriesId').val()
                };

                $.ajax({

                    type: "POST",
                    url: "/writeconfigurations",
                    data: JSON.stringify(obj),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log(response);

                        var responseHandler = $('#responseHandler');
                        responseHandler.fadeIn();
                        responseHandler.text("Test")

                    }

                });

            });
        });
    </script>

    <div id="loader"></div>

    <p id="responseHandler" style="display:none; color:green" class="animate-bottom"></p><br>

    <div id="configSelector" style="display:none;" class="animate-bottom">

        <label for="FlaskSecretKey">Flask Secret Key: </label>
        <input type="text" id="FlaskSecretKey" value="{{ config['FlaskSecretKey'] if config != None }}"><br><br>

        <label for="OpenWeatherMapApiKey">OpenWeatherMap Api Key: </label>
        <input type="text" id="OpenWeatherMapApiKey" value="{{ config['OpenWeatherMapApiKey'] if config != None }}"><br><br>

        <label for="WeatherCityName">Weather City Name: </label>
        <input type="text" id="WeatherCityName" value="{{ config['WeatherCityName'] if config != None }}"><br><br>

        <label for="WeatherCountry">Weather Country: </label>
        <input type="text" id="WeatherCountry" value="{{ config['WeatherCountry'] if config != None }}"><br><br>

        <label for="BVGStationName">BVG Station Name: </label>
        <input type="text" id="BVGStationName" value="{{ config['BVGStationName'] if config != None }}"><br><br>

        <label for="BVGLine">BVG Line: </label>
        <input type="text" id="BVGLine" value="{{ config['BVGLine'] if config != None }}"><br><br>

        <label for="GKeepUsername">Google Username: </label>
        <input type="text" id="GKeepUsername" value="{{ config['GKeepUsername'] if config != None }}"><br><br>

        <label for="GKeepPassword">Google Password: </label>
        <input type="password" id="GKeepPassword" value="{{ config['GKeepPassword'] if config != None }}"><br><br>

        <label for="GKeepGroceriesId">Google Keep groceries List Id: </label>
        <input type="text" id="GKeepGroceriesId" value="{{ config['GKeepGroceriesId'] if config != None }}"><br><br>


        <input id="configSubmit" type="submit" value="Select">
    </div>
</body>

</html>